<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" [hidden]="introIsHidden">
  <h1>
    Welcome to <input type="text" [value]="title" /> ! blah
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
Il est {{ currentTime }}. <br />

Le zoo a {{ myzoo.getAnimals().size }} occupants.
Le zoo contient les animaux suivants : <br />

<table>
  <tr>
    <th>Nom</th>
    <th>Poids</th>
    <th>Regime</th>
    <th>Conso viande</th>
  </tr>
  <!--ng-repeat n'existe plus en Angular ... c'était de l'angularJS-->
  <tr *ngFor="let a of myzoo.getAnimals()">
    <td>{{ a.nom }}</td>
    <td>{{ a.poids }}</td>
    <td>{{ a.regime.name }}</td>
    <td>{{ a.consoCoeff }}</td>
  </tr>
</table>

Ajouter un animal : <br />

<form name="monForm">
  <table>
    <tr>
      <td>Nom</td>
      <td><input type="text" [(ngModel)]="xformData.nom" name="nom" placeholder="bebert"></td>
    </tr>
    <tr>
      <td>Poids : </td>
      <td><input type="number" [(ngModel)]="xformData.poids" name="poids" placeholder="80"></td>
    </tr>
    <tr>
      <td>Regime : </td>
      <td><select name="regime" [(ngModel)]="xformData.regime">
          <option value="HERBI">Herbivore</option>
          <option value="CARNI">Carnivore</option>
          <option value="OMNI">Omnivore</option>
        </select></td>
    </tr>
    <input type="button" value="Ajouter" (click)="btnAddAnimal($event)">
  </table>
</form>
